.negro{
    background-color: black;
}
.amarillo{
  background-color: yellow;
}
.over-f{
    overflow: hidden;
}
.back-g{
    background: rgb(127,45,253);
    background: linear-gradient(32deg, rgba(127,45,253,0.928991579541973) 33%, rgba(0,0,0,1) 69%);
    
}
.navbar-z{
    position: relative;
    z-index: 20;
}
.tamaño-1 {
    color: ghostwhite; 
    position: relative;
    top: 1rem;
    font-size: 12rem;
    font-weight: 900;
    z-index: 8;
  }
  .tamaño-2 {
    
    color: ghostwhite;
    position: relative;
    top: -4rem;
    font-size: 12rem;
    font-weight: 900;
    z-index: 8;
  }
  .tamaño-3 {
    color: ghostwhite;
    position: relative;
    top: -9rem;
    font-size: 12rem;
    font-weight: 900;
    z-index: 8;
  }
  .tamaño-4 {
    color: ghostwhite;
    position: relative;
    top: -14rem;
    font-size: 12rem;
    font-weight: 900;
    z-index: 8;
  }

 .astro{
      position: absolute;
      height: auto;
      width: auto;
      top: 20rem;
      left: -6rem;
      z-index: 9;

  }

  .luna{
      position: absolute;
      height: 120vh;
      width: auto;
      top: -8rem;
      left: 10rem;
      z-index: 7;
  }

  .img{
    height: 55vh;
    width: auto;
  }

  .purple{
    color: rgb(243, 240, 240);
    font-weight: 600;
    background-color: rgb(188, 121, 255);
  }
  span{
    color:  rgb(243, 240, 240);;
    font-weight: bold;
    background-color: black;
    padding: .3rem;
  }

  .parrafo1{
    position: relative;
    left: -2.5rem;
  }

  .parrafo2{
    position: relative;
    right: -4rem;
    z-index: 10;
  }

.jumbo{
  background-image: url(../img/space.jpg);
  background-size: cover;
  height: 95vh;
  width: auto;
}
.bor-0{
  border-radius: 0rem;
}

